/* Contact Container */
.contact-container {
  background: linear-gradient(135deg, #a0d6d8 30%, #00796b 70%); /* Teal gradients */
}

/* Info Section Styling */
.info-section {
  background: linear-gradient(135deg, #9c27b0 30%, #8326bd 70%); /* Purple gradients */
  color: #fff;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(21, 21, 21, 0.1);
  margin: 0 auto;
  position: relative; /* For positioning the button */
  max-width: 800px; /* Optional: constrain width for better layout */
}

/* Title Styling */
.about-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 20px;
  color: #e1bee7; /* Light purple */
}

.info-title {
  font-size: 1.5rem;
  color: #e1bee7; /* Light purple */
  margin-top: 20px;
  border-bottom: 2px solid #e1bee7; /* Light purple */
  padding-bottom: 10px;
}

.info-text {
  font-size: 1rem;
  color: #fcdddd; 
}

.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #6a1b9a; 
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}


/* Responsive adjustments */
@media (max-width: 768px) {
  .info-section {
    padding: 30px;
    max-width: 90%; /* Adjust width for smaller screens */
  }

  .about-title, .info-title {
    font-size: 1.5rem;
  }

  .info-text {
    font-size: 0.9rem;
  }
}
